<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<!--  <link rel="icon" href="<%= BASE_URL %>favicon.ico">-->

  <% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.css){ %>
  <link href="<%= item.css %>" rel="stylesheet" />
  <% }}) %>

  <title>大屏数据化</title>
</head>
<body>
<noscript>
  <strong>We're sorry but web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>

<!-- <script>
  var box1 = {'people_count': 14, 'nursing_count': 0, 'bed_count': 15, 'rate': '93.33%', 'male_rate': '92.86', 'female_rate': '7.14', 'mursing_ratio': 0, 'male_list': [0, 1, 1, 0, 1, 5], 'female_list': [0, 0, 0, 0, 1, 0], 'elderly_type_list': [{'name': '五保老人', 'value': 1}, {'name': '残疾老人', 'value': 1}, {'name': '普通老人', 'value': 0}, {'name': '失能老人', 'value': 1}, {'name': '半失能老人', 'value': 0}], 'res': {'五保老人': 1, '残疾老人': 1, 'other': 13, '失能老人': 1, '半失能老人': 0}}
  var box2 = {'health_monitoring': {'xData': ['心率异常', '呼吸异常', '翻身护理'], 'yData': [0, 0, 0]}, 'health_warning': {'xData': ['心率异常', '呼吸异常', '翻身护理'], 'yData': [0, 0, 0]}, 'health_error': [{'name': '心率异常', 'value': 0}, {'name': '呼吸异常', 'value': 0}, {'name': '翻身护理', 'value': 0}], 'health_count': {'xData': ['血压检测', '血糖检测', '心率检测', '呼吸检测', '体温检测'], 'yData': [0, 0, 0, 0, 0]}, 'detect_rate': [{'name': '血压检测', 'value': 0}, {'name': '血糖检测', 'value': 0}, {'name': '心率检测', 'value': 0}, {'name': '呼吸检测', 'value': 0}, {'name': '体温检测', 'value': 0}]}
  var box3 = {'list': ['跌倒警告', '燃气警告', '烟雾警告', '水流异常', '用水异常', '离床未归', '紧急呼叫'], 'list_x': [0, 0, 0, 0, 0, 0, 0], 'list_y': [0, 0, 0, 0, 0, 0, 0], 'ring_chart': [{'value': 0, 'name': '跌倒警告'}, {'value': 0, 'name': '燃气警告'}, {'value': 0, 'name': '烟雾警告'}, {'value': 0, 'name': '水流异常'}, {'value': 0, 'name': '用水异常'}, {'value': 0, 'name': '离床未归'}, {'value': 0, 'name': '紧急呼叫'}]}
  var box4 = {'total_warning_count': 0, 'total_state_treated_count': 0, 'total_state_untreated_count': 0, 'gateway_count': 3, 'device_count': 8, 'today_warning_count': 0, 'state_treated_count': 0, 'state_untreated_count': 0, 'state_equ_alarm_count': 0, 'state_online_count': 8, 'state_offline_count': 0, 'device_rate': '100.00', 'msg_level_one_alarm_count': 0, 'msg_level_two_alarm_count': 0}
  var box5 = {'warning_two': [], 'warning_list': {'box11_list': {'warning_list': [], 'search_count': 0, 'currPage': 1}}}
  var box6 = {'warning_two': [], 'warning_list': {'box11_list': {'warning_list': [], 'search_count': 0, 'currPage': 1}}}
  var box7 = {'warning_two': [], 'warning_list': {'box11_list': {'warning_list': [], 'search_count': 0, 'currPage': 1}}}
  var box8 = {'device_total_data': {'category_count_name_list': ['网关主机', '紧急按钮', '烟雾传感器', '燃气传感器', '水流传感器', '跌倒检测雷达', '体征监测雷达'], 'category_count_list': [0, 0, 0, 0, 0, 0, 2], 'type_uid_two_offline_online_count_list': [[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [2, 0]]}, 'device_status_data': {'category_count_state_name_list': ['网关主机', '紧急按钮', '烟雾传感器', '燃气传感器', '水流传感器', '跌倒检测雷达', '体征监测雷达'], 'category_online_count_list': [0, 0, 0, 0, 0, 0, 2], 'category_offline_count_list': [0, 0, 0, 0, 0, 0, 0], 'category_false_count_list': [0, 0, 0, 0, 0, 0, 0]}, 'device_status': {'dis': ['在线'], 'dis_val': [8]}, 'gateway_device_count': {'gateway_device': 0, 'personal_emerg_button': 0, 'fire_sensor': 0, 'gas_sensor': 0, 'water_flow_sensor': 0, 'millimeter_wave': 0, 'vital_signs_millimeter_wave': 2, 'health_device': 2, 'external_device': 3, 'other_device': 1}}
  var points = [{'lnglat': [117.13259415456949, 31.84741535053539], 'gt_id': 108}, {'lnglat': [117.13259415456949, 31.84741535053539], 'gt_id': 109}, {'lnglat': [117.13259415456949, 31.84741535053539], 'gt_id': 110}]
  // console.log({"基本信息": box1})
  // console.log({"健康监测": box2})
  // console.log({"安全监测": box3})
  // console.log({"数据统计": box4})
  // console.log({"健康预警": box5})
  // console.log({"设备预警": box6})
  // console.log({"安全预警": box7})
  // console.log({"设备管理": box8})
  // console.log({"地图坐标": points})

</script>

<script>
  let inst_id = 1
  var herf_url = '/datav/ok'
</script> -->



<script>
  var box1 = {{ object.box1 }}
  var box2 = {{ object.box2 }}
  var box3 = {{ object.box3 }}
  var box4 = {{ object.box4 }}
  var box5 = {{ object.box5 }}
  var box6 = {{ object.box6 }}
  var box7 = {{ object.box7 }}
  var box8 = {{ object.box8 }}
  var points = {{ object.points }}

</script>

<script>
  var inst_id = {{ inst_id }}
  var herf_url = '{{ object.herf_url }}'
</script>


<!-- amap -->
<script type="text/javascript">
  window._AMapSecurityConfig = {
      // 线上环境 --- 如何在服务器上配置（https://lbs.amap.com/api/javascript-api/guide/abc/prepare）
      // serviceHost: "您的代理服务器域名或地址/_AMapService",
      // // 例如 ：serviceHost:'http://1.1.1.1:80/_AMapService',
      //开发环境使用的安全密钥
      securityJsCode: '37c21ed2d10dd6d2b7202f39afcda289',
  };
</script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=4c40948fc0c5ab33e4eb4f00f51febfb&plugin=AMap.MarkerCluster"></script>





<% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.js && !htmlWebpackPlugin.options.onlyCss){ %>
<script type="text/javascript" src="<%= item.js %>"></script>
<% }}) %>

<!-- built files will be auto injected -->
</body>
</html>
